{
    "openapi": "3.0.0",
    "info": {
        "title": "ems-encrypt",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https:\/\/www.ems-encrypt.com"
        }
    ],
    "paths": {
        "\/api\/me": {
            "get": {
                "tags": [
                    "Manager:Me"
                ],
                "summary": "Get current user.",
                "operationId": "getUser",
                "responses": {
                    "200": {
                        "description": "A User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/MeIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/me\/notification": {
            "get": {
                "tags": [
                    "Manager:MeNotification"
                ],
                "summary": "Current user notification list.",
                "description": "You can specify a GET parameter `read_status` to filter results.",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Notification list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/NotificationListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/MeNotificationIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/me\/notification\/all\/read": {
            "post": {
                "tags": [
                    "Manager:MeNotification"
                ],
                "summary": "Mark all user notifications as read.",
                "operationId": "markAllAsRead",
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/NoContentResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/me\/notification\/{notificationId}\/read": {
            "post": {
                "tags": [
                    "Manager:MeNotification"
                ],
                "summary": "Mark the specified user notification as read.",
                "operationId": "markAsRead",
                "parameters": [
                    {
                        "name": "notificationId",
                        "in": "path",
                        "description": "Notification UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Notification",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/NotificationResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/me\/notification\/{notificationId}\/unread": {
            "post": {
                "tags": [
                    "Manager:MeNotification"
                ],
                "summary": "Mark the specified user notification as unread.",
                "operationId": "markAsUnread",
                "parameters": [
                    {
                        "name": "notificationId",
                        "in": "path",
                        "description": "Notification UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Notification",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/NotificationResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/userGroup": {
            "get": {
                "tags": [
                    "Manager:UserGroup"
                ],
                "summary": "Show User group list.",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A UserGroup list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserGroupListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/UserGroupIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/userGroup\/{userGroupId}": {
            "get": {
                "tags": [
                    "Manager:UserGroup"
                ],
                "summary": "Get specified User group.",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "userGroupId",
                        "in": "path",
                        "description": "User Group Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A UserGroup",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserGroupResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/user": {
            "get": {
                "tags": [
                    "Manager:User"
                ],
                "summary": "User list.",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A User list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/UserIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Manager:User"
                ],
                "summary": "Create and store new user.",
                "operationId": "create",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "user_group_id",
                                    "name",
                                    "email",
                                    "password",
                                    "double_optin"
                                ],
                                "properties": {
                                    "user_group_id": {
                                        "enum": [
                                            "Developer",
                                            "Support",
                                            "End-User"
                                        ],
                                        "type": "string"
                                    },
                                    "name": {
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "email": {
                                        "maxLength": 150,
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "preferred_language": {
                                        "maxLength": 30,
                                        "type": "string"
                                    },
                                    "double_optin": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/user\/{userId}": {
            "get": {
                "tags": [
                    "Manager:User"
                ],
                "summary": "Get specified user.",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Manager:User",
                    "Resource:User"
                ],
                "summary": "Update a specified user.",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "user_group_id",
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "user_group_id": {
                                        "enum": [
                                            "Developer",
                                            "Support",
                                            "End-User"
                                        ],
                                        "type": "string"
                                    },
                                    "name": {
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "email": {
                                        "maxLength": 150,
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "preferred_language": {
                                        "maxLength": 30,
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Manager:User",
                    "Resource:User"
                ],
                "summary": "Delete specified user.",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Empty response"
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Manager:User",
                    "Resource:User"
                ],
                "summary": "Update a specified user.",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "user_group_id",
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "user_group_id": {
                                        "enum": [
                                            "Developer",
                                            "Support",
                                            "End-User"
                                        ],
                                        "type": "string"
                                    },
                                    "name": {
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "email": {
                                        "maxLength": 150,
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "preferred_language": {
                                        "maxLength": 30,
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/userGroup\/{userGroupId}\/user": {
            "get": {
                "tags": [
                    "Resource:UserGroup"
                ],
                "summary": "User group user list.",
                "operationId": "getUsers",
                "parameters": [
                    {
                        "name": "userGroupId",
                        "in": "path",
                        "description": "User Group ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A User list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/i18nLang": {
            "get": {
                "tags": [
                    "Manager:I18nLang"
                ],
                "summary": "Show i18n lang list.",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A I18nLang list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/I18nLangListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/I18nLangIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Manager:I18nLang"
                ],
                "summary": "Create and store new i18n lang.",
                "operationId": "create",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "id",
                                    "description"
                                ],
                                "properties": {
                                    "id": {
                                        "maxLength": 30,
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A I18nLangResponse",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/I18nLangResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/i18nLang\/{i18nLangId}": {
            "get": {
                "tags": [
                    "Manager:I18nLang"
                ],
                "summary": "Get specified i18n lang.",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "i18nLangId",
                        "in": "path",
                        "description": "I18n lang UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A I18nLang",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/I18nLangResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Manager:I18nLang",
                    "Resource:I18nLang"
                ],
                "summary": "Update a i18n lang.",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "i18nLangId",
                        "in": "path",
                        "description": "I18n lang UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "description"
                                ],
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated I18nLang",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/I18nLangResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Manager:I18nLang",
                    "Resource:I18nLang"
                ],
                "summary": "Delete specified i18n Lang.",
                "description": "<aside class=\"warning\">Avoid using this feature ! Check foreign keys constraints to remove dependent resources properly before.<\/aside>",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "i18nLangId",
                        "in": "path",
                        "description": "I18n lang UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Empty response"
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Manager:I18nLang",
                    "Resource:I18nLang"
                ],
                "summary": "Update a i18n lang.",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "i18nLangId",
                        "in": "path",
                        "description": "I18n lang UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "description"
                                ],
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated I18nLang",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/I18nLangResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/userRole": {
            "get": {
                "tags": [
                    "Manager:UserRole"
                ],
                "summary": "Show user role list",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A UserRole list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserRoleListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/UserRoleIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/userRole\/{userRoleId}": {
            "get": {
                "tags": [
                    "Manager:UserRole"
                ],
                "summary": "Get specified user role",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "userRoleId",
                        "in": "path",
                        "description": "User Role ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A UserRole",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserRoleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/project": {
            "get": {
                "tags": [
                    "Manager:Project"
                ],
                "summary": "Show project list",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Project list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ProjectListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/ProjectIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Manager:Project"
                ],
                "summary": "Create and store a new project",
                "operationId": "create",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "authorization_webhook_url": {
                                        "type": "string",
                                        "format": "url"
                                    },
                                    "authorization_webhook_auth_username": {
                                        "type": "string"
                                    },
                                    "authorization_webhook_auth_password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created Project",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ProjectResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/project\/{projectId}": {
            "get": {
                "tags": [
                    "Manager:Project"
                ],
                "summary": "Get specified project",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Project",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ProjectResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Manager:Project",
                    "Resource:Project"
                ],
                "summary": "Update a specified project",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "authorization_webhook_url": {
                                        "type": "string",
                                        "format": "url"
                                    },
                                    "authorization_webhook_auth_username": {
                                        "type": "string"
                                    },
                                    "authorization_webhook_auth_password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated Project",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ProjectResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Manager:Project",
                    "Resource:Project"
                ],
                "summary": "Delete specified project",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Empty response"
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Manager:Project",
                    "Resource:Project"
                ],
                "summary": "Update a specified project",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "authorization_webhook_url": {
                                        "type": "string",
                                        "format": "url"
                                    },
                                    "authorization_webhook_auth_username": {
                                        "type": "string"
                                    },
                                    "authorization_webhook_auth_password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated Project",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ProjectResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/me\/project": {
            "get": {
                "tags": [
                    "Manager:Me"
                ],
                "summary": "Current user project list",
                "description": "You can specify a GET parameter `user_role_id` to filter results.",
                "operationId": "getProjects",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Project list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ProjectListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/MeProjectIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/userHasProject": {
            "get": {
                "tags": [
                    "Manager:UserHasProject"
                ],
                "summary": "List of relationships between users and projects.",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A UserHasProject list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserHasProjectListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/UserHasProjectIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Manager:UserHasProject"
                ],
                "summary": "Create and store a new user has project",
                "description": "<aside class=\"notice\">Only one relationship per user\/project is allowed and only one user can be <code>Owner<\/code>of a project.<\/aside>",
                "operationId": "create",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "project_id",
                                    "user_role_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "project_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "user_role_id": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created UserHasProject",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserHasProjectResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/userHasProject\/{userId},{projectId}": {
            "get": {
                "tags": [
                    "Manager:UserHasProject"
                ],
                "summary": "Get specified relationship between a user and a project.",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A UserHasProject",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserHasProjectResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Manager:UserHasProject",
                    "Resource:UserHasProject"
                ],
                "summary": "Update a specified relationship between a user and a project.",
                "description": "<aside class=\"notice\">Only one relationship per user\/project is allowed and only one user can be <code>Owner<\/code>of a project.<\/aside>",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "project_id",
                                    "user_role_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "project_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "user_role_id": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated UserHasProject",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserHasProjectResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Manager:UserHasProject",
                    "Resource:UserHasProject"
                ],
                "summary": "Delete specified relationship between a user and a project.",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Empty response"
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Manager:UserHasProject",
                    "Resource:UserHasProject"
                ],
                "summary": "Update a specified relationship between a user and a project.",
                "description": "<aside class=\"notice\">Only one relationship per user\/project is allowed and only one user can be <code>Owner<\/code>of a project.<\/aside>",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "project_id",
                                    "user_role_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "project_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "user_role_id": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated UserHasProject",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserHasProjectResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/user\/{userId}\/userHasProject": {
            "get": {
                "tags": [
                    "Resource:User"
                ],
                "summary": "User relationship between users and projects list",
                "description": "You can specify a GET parameter `user_role_id` to filter results.",
                "operationId": "index",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A UserHasProject list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserHasProjectListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/project\/{projectId}\/userHasProject": {
            "get": {
                "tags": [
                    "Resource:Project"
                ],
                "summary": "Project relationship between users and projects list",
                "description": "You can specify a GET parameter `user_role_id` to filter results.",
                "operationId": "getProjectHasUsers",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A SyncTask list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/UserHasProjectListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/server": {
            "get": {
                "tags": [
                    "Manager:Server"
                ],
                "summary": "Show server list",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Server list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ServerListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/ServerIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Manager:Server"
                ],
                "summary": "Create and store a new server",
                "operationId": "create",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "project_id",
                                    "server_type_id",
                                    "name",
                                    "ip",
                                    "login",
                                    "enabled"
                                ],
                                "properties": {
                                    "project_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "server_type_id": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "maxLength": 191,
                                        "type": "string"
                                    },
                                    "ip": {
                                        "maxLength": 39,
                                        "type": "string"
                                    },
                                    "port": {
                                        "minimum": 0,
                                        "type": "integer"
                                    },
                                    "login": {
                                        "maxLength": 191,
                                        "type": "string"
                                    },
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "position": {
                                        "minimum": 0,
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created Server",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ServerResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/server\/{serverId}": {
            "get": {
                "tags": [
                    "Manager:Server"
                ],
                "summary": "Get specified server",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "serverId",
                        "in": "path",
                        "description": "Server UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Server",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ServerResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Manager:Server",
                    "Resource:Server"
                ],
                "summary": "Update a specified server",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "serverId",
                        "in": "path",
                        "description": "Server UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "project_id",
                                    "server_type_id",
                                    "name",
                                    "ip",
                                    "login",
                                    "enabled"
                                ],
                                "properties": {
                                    "project_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "server_type_id": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "maxLength": 191,
                                        "type": "string"
                                    },
                                    "ip": {
                                        "maxLength": 39,
                                        "type": "string"
                                    },
                                    "port": {
                                        "minimum": 0,
                                        "type": "integer"
                                    },
                                    "login": {
                                        "maxLength": 191,
                                        "type": "string"
                                    },
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "position": {
                                        "minimum": 0,
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated Server",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ServerResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Manager:Server",
                    "Resource:Server"
                ],
                "summary": "Delete specified server",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "serverId",
                        "in": "path",
                        "description": "Server UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Empty response"
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Manager:Server",
                    "Resource:Server"
                ],
                "summary": "Update a specified server",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "serverId",
                        "in": "path",
                        "description": "Server UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "project_id",
                                    "server_type_id",
                                    "name",
                                    "ip",
                                    "login",
                                    "enabled"
                                ],
                                "properties": {
                                    "project_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "server_type_id": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "maxLength": 191,
                                        "type": "string"
                                    },
                                    "ip": {
                                        "maxLength": 39,
                                        "type": "string"
                                    },
                                    "port": {
                                        "minimum": 0,
                                        "type": "integer"
                                    },
                                    "login": {
                                        "maxLength": 191,
                                        "type": "string"
                                    },
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "position": {
                                        "minimum": 0,
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated Server",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ServerResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/project\/{projectId}\/server": {
            "get": {
                "tags": [
                    "Resource:Project"
                ],
                "summary": "Show project server list",
                "operationId": "getServers",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A server list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ServerListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/taskType": {
            "get": {
                "tags": [
                    "Manager:TaskType"
                ],
                "summary": "Show task type list",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A TaskType list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/TaskTypeListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/TaskTypeIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/taskType\/{taskTypeId}": {
            "get": {
                "tags": [
                    "Manager:TaskType"
                ],
                "summary": "Get specified task type",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "taskTypeId",
                        "in": "path",
                        "description": "Task Type ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A TaskType",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/TaskTypeResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/serverType": {
            "get": {
                "tags": [
                    "Manager:ServerType"
                ],
                "summary": "Show server type list",
                "operationId": "all",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/Include"
                    },
                    {
                        "$ref": "#\/components\/parameters\/Search"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationPage"
                    },
                    {
                        "$ref": "#\/components\/parameters\/PaginationLimit"
                    },
                    {
                        "$ref": "#\/components\/parameters\/OrderBy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ServerType list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ServerTypeListResponse"
                                },
                                "example": {
                                    "$ref": "#\/components\/examples\/ServerTypeIndexExampleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/serverType\/{serverTypeId}": {
            "get": {
                "tags": [
                    "Manager:ServerType"
                ],
                "summary": "Get specified server type",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "serverTypeId",
                        "in": "path",
                        "description": "Server Type ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ServerType",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ServerTypeResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/serverType\/{serverTypeId}\/server": {
            "get": {
                "tags": [
                    "Resource:ServerType"
                ],
                "summary": "Server type server list",
                "operationId": "getServers",
                "parameters": [
                    {
[...]
